body {
    font-family: Arial, sans-serif;
    background: #f4f6f8;
    margin: 0;
    padding: 30px;
}

h1 {
    text-align: center;
    color: #222;
}

h2 {
    color: #333;
}

a {
    text-decoration: none;
    margin-right: 10px;
}

button {
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: white;
}

th,
td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

th {
    background: #333;
    color: white;
}
button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 8px;
}

input {
    padding: 10px;
    font-size: 15px;
}

form {
    max-width: 500px;
    margin: 20px auto;
}

body {
    max-width: 900px;
    margin: auto;
}